<footer>
    <div class="info">
        <div class="socials">
            <p> &copy; Wanderlust Pvt Ltd.</p>

        </div>
        <div class="links">
            <a href="#">Privacy</a>
            <a href="#">Terms and Conditions</a>
        </div>
    </div>
</footer>