<% layout("/layouts/boilerplate.ejs") %>
<div class="m-4">
    <h1>Login here!</h1>
    <form action="/login" method="post" class="needs-validation col-6 offset-3" >
        Username<input type="text" name="username" class="form-control " required>
        Password<input type="password" name="password" class="form-control" required>
        <br>
        <button class="btn btn-success">Login</button>
        <a href="/signup" class="btn btn-success">Sign Up here</a>

    </form>
</div>